:root {
    --primary: #232F3E;
    --secondary: #F3A847;
    --tertiary: #B12704;
    --light: #fafafa;
    --dark: #272f32;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
}
  
* {
    box-sizing: border-box;
}
  
html,
body {
    min-height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 5px 0;
    line-height: 1.25;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.1rem;
    margin-top: 0;
}

a {
    color: var(--tertiary);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background: var(--primary);
}

header a {
    color: var(--light);
}

header h1 {
    color: var(--light);
}

header .header-logo {
    height: 100px;
    width: 100px;
}

#root{
    min-height: 100vh;
    flex-direction: column;
    background-color:var(--tertiary);
}

.content-container {
    min-height: calc(100vh - 146px);
  }

footer {
    position: relative; 
    bottom: 0; 
    width: 100%;
    height: auto;
    background-color: var(--primary);
}

footer .footer-logo {
    height: 100px;
    width: 100px;
}

footer p {
    color: var(--light);
    font-size: 15px;
}

footer a {
    font-size: 35px;
}

footer h1 { 
    color: var(--light);
}

footer h3 {
    color: var(--light);
}

button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--secondary);
}

button:hover {
    opacity: .8;
}

button[disabled] {
    cursor: default;
    opacity: .8;
}

img {
    max-width: 100%;
}

span[role="img"] {
    cursor: default;
}

form {
    width: 40%;
}

input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--dark);
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}

input:focus {
    border: 1px solid var(--secondary);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.login .container {
    width: 25%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    top: 50%;
    transform: translateY(60%);
    opacity: .9;
    border-radius: 15px;
}

.login {
    height: calc(100vh - 250px);
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.signup .container {
    width: 25%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    top: 50%;
    transform: translateY(30%);
    opacity: .9;
    border-radius: 15px;
}

.signup {
    height: calc(100vh - 250px);
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product .container {
    width: 25%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    top: 50%;
    transform: translateY(10%);
    opacity: .93;
    border-radius: 15px;
}

.product {
    height: calc(100vh - 250px);
    background-image: url(./assets/place.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu .container {
    width: 65%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    top: 42%;
    transform: translateY(-40%);
    opacity: .93;
    border-radius: 15px;
}

.menu {
    /* height: calc(100vh - 50px); */
    height: 100vh;
    background-image: url(./assets/place.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-links-1 {
    display: flex;
    padding-left: 20%;
    padding-top: 20px;
}

.header-links-2 {
    display: flex;
    padding-left: 25%;
    padding-top: 20px;
}

.header-top {
    display: flex;
    background-color: #272f32;
    width: 100%;
    align-items:flex;
}
.header-bottom {
    display: flex;
    background-color: #2b2732;
    width: 100%;
    align-items:flex;
}

/* .space-between {
    justify-content: space-between;
} */

.flex-end {
    justify-content: flex-end;
}

.card {
    width: 25%;
    text-align: center;
}

.error-text {
    color: var(--error);
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}